* {

	/*font-family: muli, sans-serif;*/
  
    margin: 0;
    padding: 0;
    font-family: 'mollen';
    

    }

@font-face {

	font-family: 'mollen';
	src:url(fonts/mollen.otf);
	font-style: normal;
}

@font-face {

	font-family: 'mollenbold';
	src:url(fonts/mollenbold.otf);
	font-style: normal;
}




/* Nav Area Starts */


header {
	position: relative;
	max-width: 100%;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 0px 10px;
	background: #fcfffd;
	box-sizing: border-box;
	border-radius: 10px;
	
}

.logo {
	

	padding: 10px 20px;
	text-align: center;
	box-sizing: border-box;
	float: left;

}
nav {
	float: right;


}

.clearfix{
	clear: both;
}


nav ul {
	margin:10px;
	padding: 2px;
	display: flex;

}

nav ul li{

	list-style: none;
	text-decoration: none;
}


nav ul li a{

	display: block;
	margin-left: 10px 0;
	padding: 7px 15px;
	color: #3c3c3c;
	font-size: 18px;
	border-radius: 6px;
}

nav ul li a.active,
nav ul li a:hover
 {

	color:white;
	background:#d52346;
	transition: 0.3s;


}



@media (max-width: 768px){

	.menu-toggle {

		display: block;
		width: 33px;
		height: 33px;
		margin: 10px;
		background:#d52346;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 25px;
		color: white;
		border-radius: 30%;
	}

	.menu-toggle:before {

		content: '\f0c9';
		line-height: 30px;
		font-family: fontAwesome;
	}

	.menu-toggle.active:before {

		content: '\f00d';
		font-family: fontAwesome;
		
	}

	
	.logo img {
	
	padding: 0px 0px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	text-align: left;
	width: 260px;
	
	

	}

	header {

		margin: 0px auto;
		padding: 0px 0px;

	}


	header nav {

		display: none;
		
	}

	header nav.active {

		transition: 10s;
		display: block;
		width: 100%

	}
	header nav.active ul {


		display: block;
	}

	header nav.active ul li a {

		margin: 0px;
	}

}

/* CAREER AREA STARTS HERE*/

.containerc {

	padding: 60px;
}

.containerc h2 {

	background:url(template/box.png); background-repeat: no-repeat; line-height: 48px; color: white; padding: 10px; padding-left: 30px; font-family: 'mollenbold';

}

.containerc .line{
	width: 100%;
 	border-bottom: 4px solid #d52346;
 	margin-top: 10px;
 	margin-bottom: 5px; 
 	margin: auto;
 	
 	

    
}

@media only screen and (max-width: 650px){

	.containerc {

		margin-top: 30px;
		padding: 20px;
	}

	.containerc h2 {

		font-size: 22px;
	}

	.containerc .line {

		width:100%;
	}
}



.car .box .btncareer {

	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	border:none;
	color: white;
	margin-top: 5px;
	padding: 6px 5px;
	min-width: 150px;
	background-color: #eac93c;
	border-radius: 4px;
	box-shadow: inset 0 0 0 0 #3c3c3c;
	cursor: pointer;
	transition: ease-out 0.3s;
	outline:none;
	font-size: 20px;
}

.car .box .btncareer:hover {

	box-shadow: inset 150px 0 0 0 #3c3c3c;
}

.car {

	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.car .container {

	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 90px;
	
}

.car .container .box {

	height: 200px;
	color: white;
	background: #d52346;
	position: relative;
	border-radius: 20px;

}

.car .container .box p {

	font-size: 25px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'mollenbold';

}

@media screen and (max-width: 650px){

	.car {

	margin-left: 10px;
	margin-right: 10px;
	

	}

	.car .container .box p {

	font-size: 23px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'mollenbold';

	}
	
}

@media screen and (max-width: 650px){


	.car .container .box p {

	font-size: 20px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'mollenbold';

	}
	
}

/* CAREER AREA ENDS HERE*/


/* FOOTER AREA STARTS HERE*/

.footer-top p {

	color: white;
	line-height: 25px;
	margin-top: 20px;
}

.footer-top h3,h2 {

	color: white;
}

.footer-top  h2 {
	font-size: 18px;
	font-weight: bold;
}

.footer-top {

	background: #3c3c3c;
	padding: 80px 0;
}

.segment-one h3 {

	color: white; 

}

.segment-two h2 {

	color: white;
	text-transform: uppercase;
	padding-left: 70px;


}



.segment-two ul {
	margin: 0;
	padding-left: 70px;
	list-style-type:none;
	text-decoration: none;

}

.segment-two ul li:before {
	content: "\2022";
	color: white;
	display: inline-block;
	width: 1em;
	
}

.segment-two ul li {

	
	line-height: 40px;
}

.segment-two ul li a {

	color: white;
	text-decoration: none;

}

.segment-three h2 {

	color: white;
	text-transform: uppercase;
	padding-left: 15px;

}



.segment-three ul {
	margin: 0;
	padding-left: 17px;
	list-style: none;
	
}

.segment-three ul li:before {
	content: "\2022";
	color: white;
	display: inline-block;
	
	width: 1em;
	
}

.segment-three ul li {

	line-height: 40px;
}

.segment-three ul li a {

	color: white;
	text-decoration: none;

}

.segment-four h2 {

	color: white;
	text-transform: uppercase;
}



.segment-four a {
	background:white;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;

}

.segment-four a:hover {

	background-color: #d52346;
	transition: 0.3s;
}

.segment-four a i {

	font-size: 20px;
	color: black;
	padding: 10px 12px;
}

.segment-four a i:hover {

	color: white;
}

.footer-bottom-text {

	text-align: center;
	background-color: #262424;
	line-height: 75px;


}



@media only screen and (min-width: 768px) and (max-height: 991px ){

	.md-mb-30 {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px){
	.sm-mb-30{
		margin-bottom: 30px;
	}

	.footer-top{
		padding: 50px 0;
	}

	.segment-one {
		margin-left: 20px;

		
	}


	.segment-two h2 {

		padding-left: 18px;
	}

	.segment-two ul {
		padding-left: 18px;
	}

	.segment-three h2 {

		padding-left: 18px;
	}

	.segment-four h2  {

		padding-left: 20px;
	}

	.segment-four p {

		padding-left: 20px;

	}

	.segment-four .f-icons {

		padding-left: 20px;

	}
}