* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* Nav Area Starts */

header {
	position: relative;
	max-width: 100%;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 0px 10px;
	background: #fcfffd;
	box-sizing: border-box;
	border-radius: 10px;
	
}

.logo {
	
	padding: 0px 20px;
	text-align: center;
	box-sizing: border-box;
	float: left;

}
nav {
	float: right;

}

.clearfix{
	clear: both;
}

nav ul {
	margin:10px;
	padding: 2px;
	display: flex;
}

nav ul li{
	list-style: none;
	text-decoration: none;


}
nav ul li a{

	display: block;
	border-radius: 10px;
	margin-left: 10px 0;
	padding: 7px 15px;
	color: #00802b;
	font-size: 20px;
	font-family: cambria;


	


}

nav ul li a.active,
nav ul li a:hover
 {

	background: #00802b;
	color:#fff;
	transition: 0.3s;


}



@media (max-width: 768px){

	.menu-toggle {

		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
		background:#fff;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #069370;
		border-radius: 30%;
	}

	.menu-toggle:before {

		content: '\f0c9';
		line-height: 40px;
		font-family: fontAwesome;
	}

	.menu-toggle.active:before {

		content: '\f00d';
		font-family: fontAwesome;
		
	}

	.logo {
	
	padding: 0px 0px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	text-align: left;

}

	header {

		margin: 0px auto;
		padding: 0px 0px;

	}


	header nav {

		display: none;
		
	}

	header nav.active {

		transition: 10s;
		display: block;
		width: 100%

	}
	header nav.active ul {


		display: block;
	}

	header nav.active ul li a {

		margin: 0px;
	}

}

/* Header Carousel Starts*/



.header-carousel .carousel-item {

	height: 70vh;
}


.img-robo img {

	position: absolute;
	right:100px;
	margin-top: 100px;
	width: 300px;
	height: 400px;
}

.slide1 {

	background:url('images/1.jpg');
	background-size: cover;
	height: 100vh;
	padding: 5%;
	text-align: center;

}

.slide2 {

	background:url('images/2.jpg');
	background-size: cover;
	height: 100vh;
	padding: 5%;
	text-align: center;

}

.slide3 {

	background:url('images/3.jpg');
	background-size: cover;
	height: 100vh;
	padding: 5%;
	text-align: center;

}

.txt {

	margin-top: 200px;
	color: white;
	text-align: left;

}



@media only screen and (max-width: 767px){

	.txt {

		margin-left: 0px; 
		margin-right: 0px;
		margin-top: 100px;


	}

	.header-carousel .carousel-item {

	height: 70vh;
}

	.img-robo img {

	display: none;
}
}


/* Header Carousel Ends*/

.container {

	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.img {

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.img img {

	width: 500px;
}

.login-container {

	display: flex;
	align-items: center;
	text-align: center;
}

form {

	width: 360px;
}

.avatar {

	width: 100px;
}

form h2 {

	font-size: 2.9rem;
	text-transform: uppercase;
	margin: 15px 0;
	color: #333;
}

.input-div {

	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before{

	content: '';
	position: absolute;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: #38d39f;
	transition: 0.3s;
} 

.input-div:after {

	right: 50%;
}

.input-div:before {

	left: 50%;
}
.input-div.focus .i i{
	color: #38d39f;
}

.input-div.focus div h5{
	top: -9px;
	font-size: 15px;
}

.input-div.focus{
	border-bottom: 2px solid #38d39f;
	transition: 0.3s;
}

.input-div.one {

	margin-top: 0;
}

.input-div.two {
	margin-top: 4px;
}

.i {

	display: flex;
	justify-content: center;
	align-items: center;

}

.i i {

	color: #d9d9d9;
	transition: .3s;
}

.input-div > div {

	position: relative;
	height: 45px;
}

.input-div > div h5 {

	position: absolute;
	left: 50px;
	top: 25%;
	transform: translate(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s
}

.input {

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	background: none;
	outline: none;
	padding: 0.5rem 0.7rem;
	font-size: 15px;
	color: #555;
	margin-left:5px;
}

form a {

  display: block;
  text-align: right;
  text-decoration: none;
  outline: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;

}

form a:hover{

	color: #38d3f9;
	text-decoration: none;
}

input.btn {

	display: block;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	margin: 1rem 0;
	border-radius: 35px;
	font-size: 1.2rem;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d395, #32be8f);
	cursor: pointer;
	color: #fff;
	background-size: 200%;
	transition: 0.6s;
}

.btn:hover {

	background-position: right;
}

@media screen and (max-width: 1050px){

	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){

	form{
		width: 290px;
	}

	form h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.img img {
		width: 400px;
	}
}

@media screen and (max-width: 900px){

	.img{
		display: none;
	}

	.container{

		grid-template-columns: 1fr;

	}

	.login-container{

		justify-content: center;
	}

}

@media screen and (max-width: 600px){

	.img{
		display: none;
	}

	.container{

		grid-template-columns: 1fr;

	}

	.login-container{

		justify-content: center;
	}
}